<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">Template for forgot password email</title>
	<th:block th:include="html/fragments.html :: headerfiles"></th:block>
	<style type="text/css">
		@media (min-width:700px){.wm-half{width:50%;margin:auto;}}
	</style>
</head>
<body>
<div class="wm-half" style="width:100%;margin:auto;">
	<div th:insert="html/fragments.html :: logo-header"></div>
	
	<div  style="text-align:center;padding-top:16px 0px">
		<header style="padding:0.01em 16px">
			<p style="font-size:24px;">Password Reset</p>
		</header>
		<p th:text="'Hello ' + ${name} + ','"></p>
		<p>Your password has been reset at <a href="waitmeapp.ddns.net/login">https://waitmeapp.ddns.net/login</a> </p>
		<p>Here is your new password</p>
		<!-- Temporary Password -->
		<p><strong th:text="${newPasswd}"></strong></p>
		<!-- Return to Login page -->	
		<p style="margin:16px">Login with this new password and change it in the user preferences. It is recommended that you change it as soon as possible.</p>		
	</div>
	
	<div th:insert="html/fragments.html :: footer(target=${email})"></div>
</div>
</body>
</html>